[submodule "gateway"]
	path = gateway
	url = https://github.com/pedro-solutis/helpdesk-api-gateway.git
[submodule "ticket"]
	path = ticket
	url = https://github.com/pedro-solutis/helpdesk-api-ticket-service.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/pedro-solutis/helpdesk-frontend.git
[submodule "user"]
	path = user
	url = https://github.com/pedro-solutis/helpdesk-api-user-service.git
[submodule "notification"]
	path = notification
	url = https://github.com/pedro-solutis/helpdesk-api-notification-service.git
